version: '3.9'

services:
  bot:
    build: ./
    depends_on:
      db:
        condition: service_healthy
        restart: true

  db:
    restart: always
    image: postgres:latest
    volumes:
    - ./.database/postgres/data:/var/lib/postgresql/data
    environment:
      - PGDATA=/var/lib/postgresql/data
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=1111
      - POSTGRES_DB=success-bot
    ports:
      - 5432:5432 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d success-bot"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s